@import "variables";

// importing fonts
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab&display=swap");

// importing the styles
@import "login/main";
@import "weather/info";
@import "home/main";
@import "location/main";

// weather icons
@import "~weather-icons/css/weather-icons.min.css";

* {
    background: $background;
    font-family: Roboto, sans-serif;
    color: $blue2;
    font-size: 1.1em;
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    text-transform: uppercase;

    .page-not-found {
        p {
            color: $blue3;
        }
    }

    .back-button {
        position: absolute;
        top: 5%;
        left: 5%;
        a {
            text-decoration: none;
            font-weight: bolder;
            font-size: 1.5em;
        }
        svg {
            path {
                color: $blue4;
            }
        }
    }
}